.body{
  margin: 0;
}
h1,h2,h3,p,ul{
  margin: 0;
  padding: 0;
}
header{
 margin: 0 auto;
  background-color: lightslategrey;
display: flex;
justify-content: space-between;
}
div{
display: flex;
flex-direction: row;
margin-left: 20px;

}
ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
img{
  margin: 15px;
}
.my-photo{
width: 90px;
height: 90px;
border-radius: 50%;
border: 3px solid gray;
}
p{
  font-size: 20px;
font-style: italic;
font-family: fantasy;
margin-top: 50px;
text-align: center;

}
h2{
  font-size: 20px;
font-style: italic;
font-family: fantasy;
margin-top: 50px;
text-align: center;
}
.about-porshe{
background-color: darkgrey;
padding-top: 20px;
padding-bottom: 20px;
}
.porshes{
  background-color: lightslategrey;
  padding-top: 30px;
  padding-bottom: 30px;
}
.expensive-porshe{
  background-color: darkgrey;
}
.about-porshe-title{
text-align: center;
font-size: 33px;
text-transform: uppercase;
color: black;
font-family: fantasy;
font-weight: 400;
}
.porshe-link{
background-color: cadetblue;
border-radius: 3cm;
display: block;
}
.footer-text{
  background-color: cadetblue;
  text-align: center;
}