header{
  display: flex;  
background-color: lightslategrey;
justify-content: space-between;




}
.header-content{
display: flex;
flex-direction: row;
align-items: center;
gap:20px;
}
ul{
display: flex;
list-style: none;
flex-direction:row;
gap:10px;
align-items: center;
}
.header-photo {
width: 140px;
height: 140px;
border-radius: 50%;
border:2px solid black;

}




}
